<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création d'un plat</title>
</head>
<body>
    <h1>Création d'un plat</h1>
    <form action="/plat/create" method="post" th:object="${form}">
        <p>
            <label for="in-nom">Nom:</label>
            <input type="text" id="in-nom" th:field="*{nom}" required>
            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" ></span>
        </p>
        <button type="submit"></button>
    </form>
</body>
</html>